<div class="landing-page">
    <!-- Hero Section -->
    <section class="hero-section mat-elevation-z8">
        <div class="hero-content">
            <img src="https://portfolio-caaws-public.s3.us-east-1.amazonaws.com/images/porfolio/ca-clear.png"
                alt="Foto de perfil" width="250" class="profile-image">
            <h1>Desarrollador Frontend Senior</h1>
            <p>
                Con más de 4 años de experiencia desarrollando aplicaciones web de alta calidad. He trabajado en la
                creación y actualización de sistemas utilizando frameworks como Angular, React e Ionic, y tecnologías
                avanzadas
                como Single SPA para microfrontends, PWAs, y despliegues en plataformas como Play Store y App Store.
            </p>
            <button mat-raised-button class="btn-main">
                <a href="https://portfolio-caaws-public.s3.us-east-1.amazonaws.com/documents/porfolio/cv.pdf"
                    download="CV-Cristhian-Del-Castillo.pdf" class="cv">
                    Descargar CV
                </a>
            </button>
        </div>
    </section>

    <!-- Experience Section -->
    <section class="experience-section mat-elevation-z4">
        <h2>Experiencia Laboral</h2>
        <mat-divider></mat-divider>
        <div class="experience-cards">
            <div class="experience-card">
                <h3>Grupo Armstrong</h3>
                <h4>Desarrollador Frontend Senior</h4>
                <p>
                    Más de 4 años de experiencia como desarrollador frontend, actualmente en un puesto Senior en Grupo
                    Armstrong.
                    Especializado en tecnologías modernas como Angular, React, y Ionic, creando sistemas de alto
                    rendimiento y
                    escalabilidad. Mi enfoque abarca desde el diseño de arquitecturas con microfrontends hasta la
                    implementación
                    de aplicaciones completas, tanto web como móviles.
                </p>
            </div>
            <div class="experience-card">
                <h3>BeePart Consulting</h3>
                <h4>Freelancer en Desarrollo Web</h4>
                <p>
                    2 años trabajando como desarrollador web freelance para BeePart Consulting. Me enfoqué en la
                    creación de
                    sitios web personalizados para clientes de diversas industrias, integrando tecnologías modernas como
                    Angular,
                    React, y aplicando principios de diseño UX/UI para mejorar la experiencia de usuario.
                </p>
            </div>
            <div class="experience-card">
                <h3>UDGVirtual</h3>
                <h4>Desarrollador Frontend (HTML, CSS, JavaScript)</h4>
                <p>
                    6 meses de trabajo en un proyecto con UDGVirtual donde participé en la implementación de un
                    calendario de eventos
                    utilizando únicamente HTML, CSS y JavaScript para gestionar y mostrar eventos de forma interactiva
                    para los usuarios.
                </p>
            </div>
            <div class="experience-card">
                <h3>Autodidacta</h3>
                <h4>Proyecto de Hardware y Software</h4>
                <p>
                    1 año trabajando en un proyecto de hardware y software, donde implementé un sistema de
                    reconocimiento de huellas
                    dactilares utilizando C++, Angular y C#, combinando mis conocimientos de electrónica analógica y
                    digital. Diseñé
                    y desarrollé todo el sistema desde cero, incluyendo la integración del hardware con el software para
                    crear una
                    solución funcional y escalable.
                </p>
            </div>
        </div>
    </section>


    <!-- Skills Section -->
    <section class="skills-container mat-elevation-z4">
        <h2>Habilidades</h2>

        <div class="row">
            <!-- Lenguajes -->
            <div class="skills-category">
                <h3>Lenguajes</h3>
                <div class="skills-list">
                    <mat-chip class="chipCustom" selected>TypeScript</mat-chip>
                    <mat-chip class="chipCustom" selected>HTML</mat-chip>
                    <mat-chip class="chipCustom" selected>CSS</mat-chip>
                    <mat-chip class="chipCustom" selected>SCSS</mat-chip>
                    <mat-chip class="chipCustom" selected>JavaScript</mat-chip>
                    <mat-chip class="chipCustom" selected>C#</mat-chip>
                    <mat-chip class="chipCustom" selected>Kotlin</mat-chip>
                </div>
            </div>

            <!-- Frameworks -->
            <div class="skills-category">
                <h3>Frameworks</h3>
                <div class="skills-list">
                    <mat-chip class="chipCustom" selected>Angular</mat-chip>
                    <mat-chip class="chipCustom" selected>Ionic</mat-chip>
                    <mat-chip class="chipCustom" selected>React</mat-chip>
                    <mat-chip class="chipCustom" selected>NestJS</mat-chip>
                    <mat-chip class="chipCustom" selected>NextJS</mat-chip>
                </div>
            </div>

            <!-- Herramientas y Servicios -->
            <div class="skills-category">
                <h3>Herramientas y Servicios</h3>
                <div class="skills-list">
                    <mat-chip class="chipCustom" selected>AWS S3</mat-chip>
                    <mat-chip class="chipCustom" selected>GitHub</mat-chip>
                    <mat-chip class="chipCustom" selected>Jira</mat-chip>
                    <mat-chip class="chipCustom" selected>GitKraken</mat-chip>
                    <mat-chip class="chipCustom" selected>GitHub Desktop</mat-chip>
                    <mat-chip class="chipCustom" selected>Figma</mat-chip>
                    <mat-chip class="chipCustom" selected>AWS Pipeline</mat-chip>
                    <mat-chip class="chipCustom" selected>Socket.io</mat-chip>
                </div>
            </div>
        </div>
    </section>



    <!-- Projects Section -->
    <section class="projects-section mat-elevation-z4">
        <h2>Proyectos</h2>
        <mat-divider></mat-divider>
        <p>
            He trabajado en proyectos desde cero, liderando equipos y colaborando en el mantenimiento de sistemas
            antiguos. Mi experiencia incluye la planificación y ejecución de aplicaciones web y móviles, manteniendo
            prácticas de desarrollo ágil y adoptando nuevas tecnologías para asegurar el rendimiento y la escalabilidad.
        </p>
        <p>
            Además, tengo un repositorio de GitHub que contiene un proyecto de microfrontends utilizando Angular y React
            en conjunto. Este proyecto incluye acceso al repositorio y ejemplos simples que cubren una variedad de casos
            de uso.
        </p>
        <button (click)="openGitHub()" mat-raised-button class="button mb-10">Ver Repositorios</button>
        <p>
            También puedes ver algunos ejemplos de proyectos demo:
        </p>
        <button routerLink="/angular/to-do" class="button mt-20">Ver Proyectos Demo</button>
    </section>

    <!-- Contact Section -->
    <!-- Contact Section -->
    <section class="contact-section mat-elevation-z4">
        <mat-divider></mat-divider>
        <h2>Contacto</h2>
        <p>
            Si estás interesado en colaborar o discutir sobre posibles proyectos, no dudes en contactarme.
        </p>

        <button mat-icon-button matTooltip="Enviar mensaje por WhatsApp" class="mr-10" (click)="whatsapp()">
            <mat-icon>phone_android</mat-icon>
        </button>

        <button mat-icon-button matTooltip="Enviar correo electrónico" (click)="sendEmail()">
            <mat-icon>email</mat-icon>
        </button>
    </section>

</div>