<div class="landing-page">
    <section class="principal-section mat-elevation-z8">
        <div class="principal-container">
            <div class="principal-text">
                <div class="principal-tag">
                    <span (click)="whatsapp()" class="tag-item">WhatsApp</span>
                    <span class="tag-divider">|</span>
                    <span (click)="sendEmail()" class="tag-item">Correo</span>
                </div>

                <h1 class="principal-title">Cristhian Del Castillo</h1>

                <h2 class="principal-subtitle">Senior Frontend Developer</h2>

                <p class="principal-description">
                    Desarrollador Frontend Senior con más de 4 años de experiencia en la creación de aplicaciones web y
                    móviles escalables. Especializado en Angular, React y arquitecturas modernas como microfrontends
                    (Single SPA), PWAs y despliegues en entornos multiplataforma (iOS, Android, Web).
                </p>

                <div class="buttons">
                    <button mat-raised-button class="principal-button" (click)="openCV()">
                        Descargar CV
                        <mat-icon>arrow_forward</mat-icon>
                    </button>

                    <button mat-raised-button class="principal-button" routerLink="/angular/to-do">
                        Demos
                        <mat-icon>arrow_forward</mat-icon>
                    </button>

                    <button mat-raised-button class="principal-button" routerLink="/angular/to-do">
                        Repositorios
                        <mat-icon>arrow_forward</mat-icon>
                    </button>
                </div>
            </div>

            <div class="principal-image">
                <img src="https://portfolio-caaws-public.s3.us-east-1.amazonaws.com/images/porfolio/ca-clear.png"
                    alt="Perfil Frontend Developer" class="profile-image">
            </div>
        </div>

        <div class="cards-container">
            <div class="card">
                <mat-icon class="card-icon">code</mat-icon>
                <h3 class="card-title">Lenguajes</h3>
                <mat-chip removable class="chipCustom" selected>TypeScript</mat-chip>
                <mat-chip class="chipCustom" selected>HTML</mat-chip>
                <mat-chip class="chipCustom" selected>CSS</mat-chip>
                <mat-chip class="chipCustom" selected>SCSS</mat-chip>
                <mat-chip class="chipCustom" selected>JavaScript</mat-chip>
                <mat-chip class="chipCustom" selected>C#</mat-chip>
            </div>

            <div class="card">
                <mat-icon class="card-icon">devices</mat-icon>
                <h3 class="card-title">Frameworks</h3>
                <mat-chip class="chipCustom" selected>Angular</mat-chip>
                <mat-chip class="chipCustom" selected>Ionic</mat-chip>
                <mat-chip class="chipCustom" selected>React</mat-chip>
                <mat-chip class="chipCustom" selected>NestJS</mat-chip>
            </div>

            <div class="card">
                <mat-icon class="card-icon">bolt</mat-icon>
                <h3 class="card-title">Herramientas y Servicios</h3>
                <mat-chip class="chipCustom" selected>AWS S3</mat-chip>
                <mat-chip class="chipCustom" selected>GitHub</mat-chip>
                <mat-chip class="chipCustom" selected>Jira</mat-chip>
                <mat-chip class="chipCustom" selected>GitKraken</mat-chip>
                <mat-chip class="chipCustom" selected>GitHub Desktop</mat-chip>
                <mat-chip class="chipCustom" selected>Figma</mat-chip>
                <mat-chip class="chipCustom" selected>AWS Pipeline</mat-chip>
                <mat-chip class="chipCustom" selected>Socket.io</mat-chip>
                <mat-chip class="chipCustom" selected>Supabase</mat-chip>
                <mat-chip class="chipCustom" selected>Keyclaok</mat-chip>

            </div>
        </div>
    </section>
</div>
<!-- <section class="experience-section mat-elevation-z4">
        <h2>Experiencia Laboral</h2>
        <mat-divider></mat-divider>
        <div class="experience-cards">
            <div class="experience-card">
                <h3>Grupo Armstrong</h3>
                <h4>Desarrollador Frontend Senior</h4>
                <p>
                    Más de 3 años y medio de experiencia como desarrollador frontend, actualmente en un puesto Senior en
                    Grupo Armstrong. Especializado en tecnologías modernas como Angular, React, y Ionic, creando
                    sistemas de alto rendimiento y escalabilidad. Mi enfoque abarca desde el diseño de arquitecturas con
                    microfrontends (Single SPA), donde he realizado una integración de Angular y React, hasta la
                    implementación de aplicaciones completas, tanto web como móviles. Además, he desarrollado APIs con
                    NestJS, comunicándome con bases de datos SQL Server y MySQL. También he diseñado y creado
                    aplicaciones web progresivas (PWA) y he dado soporte a una aplicación desarrollada en Kotlin.
                </p>
            </div>
            <div class="experience-card">
                <h3>BeePart Consulting</h3>
                <h4>Freelancer en Desarrollo Web</h4>
                <p>
                    1 años trabajando como desarrollador web freelance para BeePart Consulting. Me enfoqué en la
                    creación de
                    sitios web personalizados para clientes de diversas industrias, integrando tecnologías modernas como
                    Angular, y patrones de diseño como redux, aplicando principios de diseño UX/UI para mejorar la
                    experiencia de usuario.
                </p>
            </div>
            <div class="experience-card">
                <h3>UDGVirtual</h3>
                <h4>Desarrollador Frontend (HTML, CSS, JavaScript)</h4>
                <p>
                    6 meses de trabajo en un proyecto con UDGVirtual donde participé en la implementación de un
                    calendario de eventos
                    utilizando únicamente HTML, CSS y JavaScript para gestionar y mostrar eventos de forma interactiva
                    para los usuarios.
                </p>
            </div>
            <div class="experience-card">
                <h3>Autodidacta</h3>
                <h4>Proyecto de Hardware y Software</h4>
                <p>
                    1 año trabajando en un proyecto de hardware y software, donde implementé un sistema de
                    reconocimiento de huellas
                    dactilares utilizando C++, Angular y C#, combinando mis conocimientos de electrónica analógica y
                    digital. Diseñé
                    y desarrollé todo el sistema desde cero, incluyendo la integración del hardware con el software para
                    crear una
                    solución funcional y escalable.
                </p>
            </div>
        </div>
    </section>

    <section class="education-section mat-elevation-z4">
        <h2>Educación</h2>
        <mat-divider></mat-divider>
        <div class="experience-cards">
            <div class="education-card">
                <h3>CUCEI - 2017-2021</h3>
                <h4>Ingeniería en Comunicaciones y Electrónica</h4>
                <p>
                    Graduado en Ingeniería en Comunicaciones y Electrónica por el CUCEI, donde adquirí conocimientos
                    sólidos en sistemas de comunicación, electrónica, y programación. Este programa me brindó las bases
                    para desarrollar soluciones tecnológicas aplicadas tanto en hardware como en software.
                </p>
            </div>

            <div class="education-card">
                <h3>UDG - Prepa 11</h3>
                <h4>Preparatoria - 2008-2015</h4>
                <p>
                    Formación académica en la Preparatoria 11 de la Universidad de Guadalajara, donde cursé el
                    bachillerato general por competencias, lo cual sentó las bases para mi posterior carrera en
                    ingeniería.
                </p>
            </div>

        </div>
    </section>

    <section class="skills-container mat-elevation-z4">
        <h2>Habilidades</h2>

        <div class="row">
            <div class="skills-category">
                <h3>Lenguajes</h3>
                <div class="skills-list">
                    <mat-chip class="chipCustom" selected>TypeScript</mat-chip>
                    <mat-chip class="chipCustom" selected>HTML</mat-chip>
                    <mat-chip class="chipCustom" selected>CSS</mat-chip>
                    <mat-chip class="chipCustom" selected>SCSS</mat-chip>
                    <mat-chip class="chipCustom" selected>JavaScript</mat-chip>
                    <mat-chip class="chipCustom" selected>C#</mat-chip>
                    <mat-chip class="chipCustom" selected>Kotlin</mat-chip>
                </div>
            </div>

            <div class="skills-category">
                <h3>Frameworks</h3>
                <div class="skills-list">
                    <mat-chip class="chipCustom" selected>Angular</mat-chip>
                    <mat-chip class="chipCustom" selected>Ionic</mat-chip>
                    <mat-chip class="chipCustom" selected>React</mat-chip>
                    <mat-chip class="chipCustom" selected>NestJS</mat-chip>
                    <mat-chip class="chipCustom" selected>NextJS</mat-chip>
                </div>
                <h3>Idiomas</h3>
                <div class="skills-list">
                    <mat-chip class="chipCustom" selected>Inglés básico</mat-chip>
                    <mat-chip class="chipCustom" selected>Español nativo</mat-chip>
                </div>
            </div>

            <div class="skills-category">
                <h3>Herramientas y Servicios</h3>
                <div class="skills-list">
                    <mat-chip class="chipCustom" selected>AWS S3</mat-chip>
                    <mat-chip class="chipCustom" selected>GitHub</mat-chip>
                    <mat-chip class="chipCustom" selected>Jira</mat-chip>
                    <mat-chip class="chipCustom" selected>GitKraken</mat-chip>
                    <mat-chip class="chipCustom" selected>GitHub Desktop</mat-chip>
                    <mat-chip class="chipCustom" selected>Figma</mat-chip>
                    <mat-chip class="chipCustom" selected>AWS Pipeline</mat-chip>
                    <mat-chip class="chipCustom" selected>Socket.io</mat-chip>
                </div>
            </div>
        </div>
    </section>

    <section class="projects-section mat-elevation-z4">
        <h2>Proyectos</h2>
        <mat-divider></mat-divider>
        <p>
            He trabajado en proyectos desde cero, liderando equipos y colaborando en el mantenimiento de sistemas
            antiguos. Mi experiencia incluye la planificación y ejecución de aplicaciones web y móviles, manteniendo
            prácticas de desarrollo ágil y adoptando nuevas tecnologías para asegurar el rendimiento y la escalabilidad.
        </p>
        <p>
            Además, tengo un repositorio de GitHub que contiene un proyecto de microfrontends utilizando Angular y React
            en conjunto. Este proyecto incluye acceso al repositorio y ejemplos simples que cubren una variedad de casos
            de uso.
        </p>
        <button (click)="openGitHub()" mat-raised-button class="button mb-15">Ver Repositorios</button>
        <p>
            También puedes ver algunos ejemplos de proyectos demo:
        </p>
        <button routerLink="/angular/to-do" class="button mt-20">Ver Proyectos Demo</button>
    </section>

    <section class="contact-section mat-elevation-z4">
        <mat-divider></mat-divider>
        <h2>Contacto</h2>
        <p>
            Si estás interesado en colaborar o discutir sobre posibles proyectos, no dudes en contactarme.
        </p>

        <div class="contact-info">
            <div class="linkedin-badge">
                <div class="badge-base LI-profile-badge" data-locale="es_ES" data-size="medium" data-theme="dark"
                    data-type="VERTICAL" data-vanity="cristhian-jonathan-del-castillo-alba-2830071a4" data-version="v1">
                </div>
            </div>

            <div class="contact-buttons">
                <button mat-icon-button matTooltip="Enviar mensaje por WhatsApp" class="mr-10" (click)="whatsapp()">
                    <mat-icon>phone_android</mat-icon>
                </button>

                <button mat-icon-button matTooltip="Enviar correo electrónico" (click)="sendEmail()">
                    <mat-icon>email</mat-icon>
                </button>
            </div>
        </div>
    </section> -->