<div class="landing-page">
    <section class="principal-section mat-elevation-z8">
        <div class="content-wrapper">
            <div class="principal-container">
                <div class="display-column">
                    <div class="display-row">
                        <div class="principal-text">
                            <h1 class="principal-title">Cristhian Del Castillo</h1>
                            <h2 class="principal-subtitle">Senior Frontend Developer</h2>

                            <p class="principal-description">
                                Desarrollador Frontend Senior con más de 4 años de experiencia en la creación de
                                aplicaciones
                                web y
                                móviles escalables. Especializado en Angular, React y arquitecturas modernas como
                                microfrontends
                                (Single SPA), PWAs y despliegues en entornos multiplataforma.
                            </p>

                            <div class="buttons">
                                <button mat-raised-button class="principal-button" (click)="openCV()">
                                    Descargar CV
                                    <mat-icon>arrow_forward</mat-icon>
                                </button>

                                <button mat-raised-button class="principal-button" routerLink="/angular/to-do">
                                    Demos
                                    <mat-icon>arrow_forward</mat-icon>
                                </button>

                                <button mat-raised-button class="principal-button" routerLink="/angular/to-do">
                                    Repositorios
                                    <mat-icon>arrow_forward</mat-icon>
                                </button>
                            </div>
                        </div>

                        <div class="principal-image display-column">
                            <img src="https://portfolio-caaws-public.s3.us-east-1.amazonaws.com/images/porfolio/ca-clear.png"
                                alt="Perfil Frontend Developer" class="profile-image">
                            <div class="principal-tag">
                                <span (click)="whatsapp()" class="tag-item">WhatsApp</span>
                                <span class="tag-divider">|</span>
                                <span (click)="sendEmail()" class="tag-item">Correo</span>
                            </div>
                        </div>
                    </div>

                    <div class="skills-container">
                        <div class="skill-card">
                            <mat-icon class="card-icon">code</mat-icon>
                            <h3 class="card-title">Lenguajes</h3>
                            <div class="chips-wrapper">
                                <mat-chip-grid>
                                    <mat-chip class="chipCustom" selected>TypeScript</mat-chip>
                                    <mat-chip class="chipCustom" selected>HTML</mat-chip>
                                    <mat-chip class="chipCustom" selected>CSS</mat-chip>
                                    <mat-chip class="chipCustom" selected>SCSS</mat-chip>
                                    <mat-chip class="chipCustom" selected>JavaScript</mat-chip>
                                    <mat-chip class="chipCustom" selected>C#</mat-chip>
                                </mat-chip-grid>
                            </div>
                        </div>

                        <div class="skill-card">
                            <mat-icon class="card-icon">devices</mat-icon>
                            <h3 class="card-title">Frameworks</h3>
                            <div class="chips-wrapper">
                                <mat-chip-grid>
                                    <mat-chip class="chipCustom" selected>Angular</mat-chip>
                                    <mat-chip class="chipCustom" selected>Ionic</mat-chip>
                                    <mat-chip class="chipCustom" selected>React</mat-chip>
                                    <mat-chip class="chipCustom" selected>NestJS</mat-chip>
                                </mat-chip-grid>
                            </div>
                        </div>

                        <div class="skill-card">
                            <mat-icon class="card-icon">bolt</mat-icon>
                            <h3 class="card-title">Herramientas y Servicios</h3>
                            <div class="chips-wrapper">
                                <mat-chip-grid>
                                    <mat-chip class="chipCustom" selected>AWS S3</mat-chip>
                                    <mat-chip class="chipCustom" selected>GitHub</mat-chip>
                                    <mat-chip class="chipCustom" selected>Jira</mat-chip>
                                    <mat-chip class="chipCustom" selected>GitKraken</mat-chip>
                                    <mat-chip class="chipCustom" selected>Figma</mat-chip>
                                    <mat-chip class="chipCustom" selected>AWS Pipeline</mat-chip>
                                    <mat-chip class="chipCustom" selected>Socket.io</mat-chip>
                                    <mat-chip class="chipCustom" selected>Supabase</mat-chip>
                                    <mat-chip class="chipCustom" selected>Keycloak</mat-chip>
                                </mat-chip-grid>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>